```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
.python-history

# Environment variables
.env
.env.local
.env.*

# Logs
*.log

# Coverage reports
.coverage
htmlcov/
.coverage.*
.cache
.tox/

# Alembic
alembic/versions/*.pyc
```